[Desktop Entry]
Encoding=UTF-8
Name=Link to Dijkstra68.pdf
Type=Link
URL=https://homepages.cwi.nl/~storm/teaching/reader/Dijkstra68.pdf
Icon=application-pdf
