[Desktop Entry]
Encoding=UTF-8
Name=Link to ElectricRCAircraftGuy/PDF2SearchablePDF: `pdf2searchablepdf input.pdf` = voila! "input_searchable.pdf" is created & now has searchable text!
Type=Link
URL=https://github.com/ElectricRCAircraftGuy/PDF2SearchablePDF
Icon=text-html
Name[en_US]=Link to ElectricRCAircraftGuy - PDF2SearchablePDF `pdf2searchablepdf input.pdf` = voila! ''input_searchable.pdf'' is created & now has searchable text!
