[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=https://askubuntu.com/questions/83875/how-to-create-website-shortcuts-on-the-desktop-in-a-folder-using-chrome
Icon=google-chrome
Name[en_US]=Link to internet URL
