[Desktop Entry]
Encoding=UTF-8
Name=Link to Extensions » Extensions
Type=Link
URL=https://extensions.libreoffice.org/en/extensions/show/libreoffice-5-2-color-palette
Icon=text-html
Name[en_US]=Link to Extensions » Extensions [LibreOffice 5.2 color palette--MY FAVORITE!]
