[Desktop Entry]
Encoding=UTF-8
Name=Link to 17.4 — Constructors and initialization of derived classes – Learn C++
Type=Link
URL=https://www.learncpp.com/cpp-tutorial/constructors-and-initialization-of-derived-classes/
Icon=text-html
