[Desktop Entry]
Encoding=UTF-8
Name=Link to How to quickly copy the current editing file name or full file path in Eclipse (Luna)? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/27022313/how-to-quickly-copy-the-current-editing-file-name-or-full-file-path-in-eclipse/59626187#59626187
Icon=text-html
Name[en_US]=Link to How to quickly copy the current editing file name or full file path in Eclipse (Luna) - Stack Overflow%%%%% [good link]
