[Desktop Entry]
Encoding=UTF-8
Name=Link to Most Downloaded - Eclipse Color Themes
Type=Link
URL=http://www.eclipsecolorthemes.org/?list=downloads&filter=dark&q=
Icon=text-html
Name[en_US]=Link to Most Downloaded - Eclipse Color Themes [DEAD LINK AS OF ~FEB 2020]
