[Desktop Entry]
Encoding=UTF-8
Name=Link to Sublime Text 3 (Monokai) - Eclipse Color Themes
Type=Link
URL=http://www.eclipsecolorthemes.org/?view=theme&id=25808
Icon=text-html
Name[en_US]=Link to Sublime Text 3 (Monokai) - Eclipse Color Themes%%%%% [DEAD LINK AS OF ~FEB 2020]
