[Desktop Entry]
Encoding=UTF-8
Name=Link to c++ - Where to find list of available options for Clang-tidy "readability-identifier-naming" checker? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/54202025/where-to-find-list-of-available-options-for-clang-tidy-readability-identifier-n
Icon=text-html
