[Desktop Entry]
Encoding=UTF-8
Name=Link to Clang-Tidy — Sarcasm notebook
Type=Link
URL=https://sarcasm.github.io/notes/dev/clang-tidy.html
Icon=text-html
