[Desktop Entry]
Encoding=UTF-8
Name=Link to clang-tidy - readability-identifier-naming — Extra Clang Tools 11 documentation
Type=Link
URL=https://clang.llvm.org/extra/clang-tidy/checks/readability-identifier-naming.html
Icon=text-html
