[Desktop Entry]
Encoding=UTF-8
Name=Link to clang unused include - Google Search
Type=Link
URL=https://www.google.com/search?sxsrf=ALeKk02pvpdO7RWDka1QcSx33ecWC40kIA%3A1589239589903&ei=Jd-5XofONobf-gSgsZaADQ&q=clang+unused+include&oq=clang+unused+include&gs_lcp=CgZwc3ktYWIQAzIHCCMQsAIQJzIGCAAQDRAeMggIABAIEA0QHjIICAAQCBANEB4yCAgAEAgQDRAeMggIABAIEA0QHjoECAAQRzoECCMQJzoECAAQHjoGCAAQCBAeUMLk7wFYg_bvAWCZ9-8BaABwAXgAgAGmAogB6ASSAQUwLjEuMpgBAKABAaoBB2d3cy13aXo&sclient=psy-ab&ved=0ahUKEwjH9N_p-qzpAhWGr54KHaCYBdAQ4dUDCAw&uact=5
Icon=text-html
