[Desktop Entry]
Encoding=UTF-8
Name=Link to Help - Eclipse Platform
Type=Link
URL=https://help.eclipse.org/2021-06/index.jsp
Icon=text-html
Name[en_US]=Link to Help - Eclipse Platform [Eclipse Online User Manual, AKA Help Menu]
