[Desktop Entry]
Encoding=UTF-8
Name=Link to eRCaGuy_dotfiles/Eclipse setup instructions on a new Linux (or other OS) computer.pdf at master · ElectricRCAircraftGuy/eRCaGuy_dotfiles
Type=Link
URL=https://github.com/ElectricRCAircraftGuy/eRCaGuy_dotfiles/blob/master/eclipse/Eclipse%20setup%20instructions%20on%20a%20new%20Linux%20(or%20other%20OS)%20computer.pdf
Icon=text-html
Name[en_US]=Link to eRCaGuy_dotfiles--Eclipse setup instructions on a new Linux (or other OS) computer.pdf at master · ElectricRCAircraftGuy--eRCaGuy_dotfiles
