[Desktop Entry]
Encoding=UTF-8
Name=Link to Darkest Dark Theme with DevStyle | Eclipse Plugins, Bundles and Products - Eclipse Marketplace
Type=Link
URL=https://marketplace.eclipse.org/content/darkest-dark-theme-devstyle
Icon=text-html
Name[en_US]=Link to Darkest Dark Theme with DevStyle Eclipse Plugins, Bundles and Products - Eclipse Marketplace%%%%%
