[Desktop Entry]
Encoding=UTF-8
Name=Link to EasyShell | Eclipse Plugins, Bundles and Products - Eclipse Marketplace
Type=Link
URL=https://marketplace.eclipse.org/content/easyshell
Icon=text-html
Name[en_US]=Link to EasyShell Eclipse Plugins, Bundles and Products - Eclipse Marketplace%%%%%
