[Desktop Entry]
Encoding=UTF-8
Name=Link to Sublime Tutor - An interactive in-editor keyboard shortcuts tutorial for Sublime Text 3
Type=Link
URL=https://sublimetutor.com/
Icon=text-html
Name[en_US]=Link to Sublime Tutor - An interactive in-editor keyboard shortcuts tutorial for Sublime Text 3 [VERY USEFUL TOOL TO LEARN TO USE SUBLIME TEXT!]
