[Desktop Entry]
Encoding=UTF-8
Name=Link to Sublime Text - A sophisticated text editor for code, markup and prose
Type=Link
URL=https://www.sublimetext.com/
Icon=text-html
