[Desktop Entry]
Encoding=UTF-8
Name=Link to iphone - Where is .gdbinit is located and how can I edit it? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/9573683/where-is-gdbinit-is-located-and-how-can-i-edit-it
Icon=text-html
