[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/googletest/docs at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/tree/master/googletest/docs
Icon=text-html
Name[en_US]=0.0--Link to googletest/googletest/docs at master · google/googletest [all the googletest docs!]
