[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/primer.md at master · google/googletest · GitHub
Type=Link
URL=https://github.com/google/googletest/blob/master/googletest/docs/primer.md
Icon=text-html
Name[en_US]=1.0--Link to googletest/primer.md at master · google/googletest · GitHub (Googletest Primer) [MAIN GTEST DOCUMENTATION!]%%%%%+
