[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/faq.md at master · google/googletest · GitHub
Type=Link
URL=https://github.com/google/googletest/blob/master/googletest/docs/faq.md#CtorVsSetUp
Icon=text-html
Name[en_US]=2.0--Link to googletest/faq.md at master · google/googletest · GitHub%%%%%
