[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/samples.md at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/blob/master/googletest/docs/samples.md
Icon=text-html
Name[en_US]=3.0--Link to googletest/samples.md at master · google/googletest
