[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/googletest/samples at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/tree/master/googletest/samples
Icon=text-html
Name[en_US]=3.5--Link to googletest/googletest/samples at master · google/googletest
