[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/advanced.md at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/blob/master/googletest/docs/advanced.md
Icon=text-html
Name[en_US]=4.0--Link to googletest/advanced.md at master · google/googletest
