# This file is part of eRCaGuy_dotfiles: https://github.com/ElectricRCAircraftGuy/eRCaGuy_dotfiles

# A Show Desktop button to add to your launcher.

# INSTALLATION INSTRUCTIONS:
#
# Option 1: follow my online instructions: https://askubuntu.com/a/1474575/327339
#
# Option 2:
#
# 1. Follow all instructions here to install the `show_desktop` executable:
#    "eRCaGuy_dotfiles/useful_scripts/show_desktop.sh"
#
# 2. Symlink this .desktop file into the "~/.local/share/applications/" dir to install it.
#
#       cd /path/to/here
#       ln -si "$(pwd)/show-desktop.desktop" ~/.local/share/applications/
#
# 3. Add it as a favorite to your launcher: press the Windows key --> search for "Show Desktop" -->
#    right-click it and select "Add to Favorites". Then, in your favorites icons in the left bar in
#    Ubuntu, drag it to where you'd like it (I like it at the very top, as the first icon from the
#    top).
#
# 4. That's it. Enjoy!

[Desktop Entry]
Type=Application
Name=Show Desktop
# GS: alternative icon if you want: desktop
Icon=user-desktop
Exec=show_desktop
