[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/googlemock/docs at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/tree/master/googlemock/docs
Icon=text-html
Name[en_US]=0.0--Link to googletest/googlemock/docs at master · google/googletest [all the googlemock docs!]
