[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/for_dummies.md at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/blob/master/googlemock/docs/for_dummies.md
Icon=text-html
Name[en_US]=1.0--Link to googletest/for_dummies.md at master · google/googletest
