[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/cook_book.md at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/blob/master/googlemock/docs/cook_book.md
Icon=text-html
Name[en_US]=2.0--Link to googletest/cook_book.md at master · google/googletest
