[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/gmock_faq.md at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/blob/master/googlemock/docs/gmock_faq.md
Icon=text-html
Name[en_US]=3.0--Link to googletest/gmock_faq.md at master · google/googletest
