[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/cheat_sheet.md at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/blob/master/googlemock/docs/cheat_sheet.md
Icon=text-html
Name[en_US]=4.0--Link to googletest/cheat_sheet.md at master · google/googletest
