[Desktop Entry]
Encoding=UTF-8
Name=Link to googletest/pump_manual.md at master · google/googletest
Type=Link
URL=https://github.com/google/googletest/blob/master/googlemock/docs/pump_manual.md
Icon=text-html
Name[en_US]=5.0--Link to googletest/pump_manual.md at master · google/googletest
