[Desktop Entry]
Encoding=UTF-8
Name=Link to Is it possible to see cp speed and percent copied? - Unix & Linux Stack Exchange
Type=Link
URL=https://unix.stackexchange.com/questions/65077/is-it-possible-to-see-cp-speed-and-percent-copied/567828#567828
Icon=text-html
Name[en_US]=Link to Is it possible to see cp speed and percent copied - Unix & Linux Stack Exchange%%%%% [MY OWN ANS]
