[Desktop Entry]
Encoding=UTF-8
Name=Link to hard drive - Convert NTFS partition to ext4 - How to copy the data? - Super User
Type=Link
URL=https://superuser.com/questions/1271882/convert-ntfs-partition-to-ext4-how-to-copy-the-data/1464264#1464264
Icon=text-html
Name[en_US]=Link to hard drive - Convert NTFS partition to ext4 - How to copy the data - Super User%%%%%+ [MY OWN ANS]
