[Desktop Entry]
Encoding=UTF-8
Name=Link to How to configure Nemo's right-click "Open in Terminal" to launch "gnome-terminal" - Unix & Linux Stack Exchange
Type=Link
URL=https://unix.stackexchange.com/questions/336368/how-to-configure-nemos-right-click-open-in-terminal-to-launch-gnome-terminal/348796#348796
Icon=text-html
Name[en_US]=Link to How to configure Nemo's right-click "Open in Terminal" to launch "gnome-terminal" - Unix & Linux Stack Exchange%%%%%
