[Desktop Entry]
Encoding=UTF-8
Name=Link to nautilus - How to set Nemo as the default file manager in Ubuntu 18.04? - Ask Ubuntu
Type=Link
URL=https://askubuntu.com/questions/1066752/how-to-set-nemo-as-the-default-file-manager-in-ubuntu-18-04/1173861#1173861
Icon=text-html
Name[en_US]=Link to nautilus - How to set Nemo as the default file manager in Ubuntu 18.04? - Ask Ubuntu%%%%%+ [MY ANS TO INSTALL NEMO!]
