[Desktop Entry]
Encoding=UTF-8
Name=Link to How to fix device permissions for the USBasp programmer
Type=Link
URL=https://andreasrohner.at/posts/Electronics/How-to-fix-device-permissions-for-the-USBasp-programmer/
Icon=text-html
Name[en_US]=Link to How to fix device permissions for the USBasp programmer [udev rule creation for USBasp]
