[Desktop Entry]
Encoding=UTF-8
Name=Link to USBasp - USB programmer for Atmel AVR controllers - fischl.de
Type=Link
URL=https://www.fischl.de/usbasp/
Icon=text-html
Name[en_US]=Link to USBasp - USB programmer for Atmel AVR controllers - fischl.de [download ''usbasp.2011-05-28.tar.gz'']
