[Desktop Entry]
Encoding=UTF-8
Name=Link to Composition vs. Inheritance: Pros and Cons | by Bright | Geek Culture | Medium
Type=Link
URL=https://medium.com/geekculture/composition-vs-inheritance-pros-and-cons-ff1797d72f68
Icon=text-html
Name[en_US]=%%%%%Link to Composition vs. Inheritance: Pros and Cons | by Bright | Geek Culture | Medium
