[Desktop Entry]
Encoding=UTF-8
Name=Link to language agnostic - Prefer composition over inheritance? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/49002/prefer-composition-over-inheritance
Icon=text-html
Name[en_US]=%%%%Link to language agnostic - Prefer composition over inheritance? - Stack Overflow
