[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - elefevre/elements-of-unit-testing-style
Type=Link
URL=https://github.com/elefevre/elements-of-unit-testing-style#tell-a-story-with-the-method-name
Icon=text-html
Name[en_US]=Link to GitHub - elefevre/elements-of-unit-testing-style%%%%% [NEED TO STUDY & READ]
