[Desktop Entry]
Encoding=UTF-8
Name=Link to c++ - google mock - can I call EXPECT_CALL multiple times on same mock object? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/44034633/google-mock-can-i-call-expect-call-multiple-times-on-same-mock-object/60905880#60905880
Icon=text-html
Name[en_US]=Link to c++ - google mock - can I call EXPECT_CALL multiple times on same mock object - Stack Overflow%%%%%+ [MY OWN ANS]
