[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Write Clean, Testable Code - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=XcT4yYu_TTs
Icon=text-html
Name[en_US]=Link to How to Write Clean, Testable Code - YouTube%%%%% [NEED TO WATCH]
