[Desktop Entry]
Encoding=UTF-8
Name=Link to Clang-Format Style Options — Clang 11 documentation
Type=Link
URL=https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Icon=text-html
Name[en_US]=2--Link to Clang-Format Style Options — Clang 11 documentation
