[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Format C/C++ Code in VSCode on Windows and Linux
Type=Link
URL=https://www.codepool.biz/vscode-format-c-code-windows-linux.html
Icon=text-html
Name[en_US]=Link to How to Format C-C++ Code in VSCode on Windows and Linux
