[Desktop Entry]
Encoding=UTF-8
Name=Link to Clang-Format Style Options — Clang 6 documentation
Type=Link
URL=https://releases.llvm.org/6.0.1/tools/clang/docs/ClangFormatStyleOptions.html
Icon=text-html
Name[en_US]=Link to Clang-Format Style Options — Clang 6 documentation [USE THIS FOR `clang-format` v6!--THE DEFAULT one on Ubuntu 18.04!]%%%%%+
