[Desktop Entry]
Encoding=UTF-8
Name=Link to LLVM Snapshot Builds
Type=Link
URL=https://llvm.org/builds/
Icon=text-html
Name[en_US]=Link to LLVM Snapshot Builds [download Windows .exe installer here!]
