[Desktop Entry]
Encoding=UTF-8
Name=Link to ClangFormat — Clang 11 documentation
Type=Link
URL=https://clang.llvm.org/docs/ClangFormat.html
Icon=text-html
Name[en_US]=Link to ClangFormat — Clang 11 documentation%%%%%
