[Desktop Entry]
Encoding=UTF-8
Name=Link to vim - How can i install clang-format in Ubuntu - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/20756924/how-can-i-install-clang-format-in-ubuntu
Icon=text-html
