[Desktop Entry]
Encoding=UTF-8
Name=Link to pros and cons of inheritance vs composition - Google Search
Type=Link
URL=https://www.google.com/search?q=pros+and+cons+of+inheritance+vs+composition&sxsrf=AJOqlzXVSYZA_8h47KYN8y-CHTFHvasS7A%3A1677877420514&ei=rGACZK-JH8bekPIPwpK3sAE&ved=0ahUKEwivj4G91MD9AhVGL0QIHULJDRYQ4dUDCBA&uact=5&oq=pros+and+cons+of+inheritance+vs+composition&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIKCAAQRxDWBBCwAzIKCAAQRxDWBBCwAzIKCAAQRxDWBBCwAzIKCAAQRxDWBBCwAzIKCAAQRxDWBBCwAzIKCAAQRxDWBBCwAzIKCAAQRxDWBBCwAzIKCAAQRxDWBBCwA0oECEEYAFAAWABgl8MCaAVwAXgAgAEAiAEAkgEAmAEAyAEIwAEB&sclient=gws-wiz-serp
Icon=text-html
