[Desktop Entry]
Encoding=UTF-8
Name=Link to Adafruit SPI FLASH Breakout W25Q128 - 128 MBit / 16 MByte : ID 5643 : $4.95 : Adafruit Industries, Unique & fun DIY electronics and kits
Type=Link
URL=https://www.adafruit.com/product/5643
Icon=text-html
