[Desktop Entry]
Encoding=UTF-8
Name=Link to Documentation - Winbond
Type=Link
URL=https://www.winbond.com/hq/support/documentation/levelOne.jsp?__locale=en&DocNo=DA00-W25Q128JV
Icon=text-html
