[Desktop Entry]
Encoding=UTF-8
Name=Link to Exchanging keys
Type=Link
URL=https://www.gnupg.org/gph/en/manual/x56.html#:~:text=Importing%20a%20public%20key,with%20the%20%2D%2Dimport%20option.&text=Once%20a%20key%20is%20imported,to%20be%20personally%20validated%2C%20however.
Icon=text-html
