[Desktop Entry]
Encoding=UTF-8
Name=Link to ElectricRCAircraftGuy/Chrome-Case-Sensitive-Find: A case-sensitive Find tool (recommended to use Ctrl + Alt + F) for the Google Chrome Browser
Type=Link
URL=https://github.com/ElectricRCAircraftGuy/Chrome-Case-Sensitive-Find
Icon=text-html
Name[en_US]=Link to ElectricRCAircraftGuy - Chrome-Case-Sensitive-Find A case-sensitive Find tool (recommended to use Ctrl + Alt + F) for the Google Chrome Browser
