[Desktop Entry]
Encoding=UTF-8
Name=Link to ElectricRCAircraftGuy/git-tree: New git features: 1) graphically view all your branches in a hierarchical fashion based on forking or desired dependencies; 2) cascade recursive rebases down the line
Type=Link
URL=https://github.com/ElectricRCAircraftGuy/git-tree
Icon=text-html
Name[en_US]=Link to ElectricRCAircraftGuy - git-tree New git features 1) graphically view all your branches in a hierarchical fashion based on forking or desired dependencies; 2) cascade recursive rebases down the line
