[Desktop Entry]
Encoding=UTF-8
Name=Link to ElectricRCAircraftGuy/eRCaGuy_PyTerm: A datalogging serial terminal/console written in Python (I hope to extend it to Telnet and others later)
Type=Link
URL=https://github.com/ElectricRCAircraftGuy/eRCaGuy_PyTerm
Icon=text-html
Name[en_US]=Link to ElectricRCAircraftGuy - eRCaGuy_PyTerm A datalogging serial terminal-console written in Python (I hope to extend it to Telnet and others later)
