[Desktop Entry]
Encoding=UTF-8
Name=Link to c++ - How to mock templated methods using Google Mock? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/3426067/how-to-mock-templated-methods-using-google-mock
Icon=text-html
Name[en_US]=Link to c++ - How to mock templated methods using Google Mock? - Stack Overflow%%%%%
