[Desktop Entry]
Encoding=UTF-8
Name=Link to NoMachine - The server.cfg and node.cfg files explained (for server v. 4 and later)
Type=Link
URL=https://www.nomachine.com/AR02N00877
Icon=text-html
Name[en_US]=Link to NoMachine - The server.cfg and node.cfg files explained (for server v. 4 and later)%%%%%
