[Desktop Entry]
Encoding=UTF-8
Name=Link to NoMachine Forums - Prevent password authentication with NX protocol and key-based authentication
Type=Link
URL=https://forums.nomachine.com/topic/prevent-password-authentication-with-nx-protocol-and-key-based-authentication
Icon=text-html
Name[en_US]=Link to NoMachine Forums - Prevent password authentication with NX protocol and key-based authentication%%%%%
