[Desktop Entry]
Encoding=UTF-8
Name=Link to nomachine server.cfg - Google Search
Type=Link
URL=https://www.google.com/search?q=nomachine+server.cfg&oq=nomachine+server.cfg&aqs=chrome..69i57.3238j0j7&sourceid=chrome&ie=UTF-8
Icon=text-html
