[Desktop Entry]
Encoding=UTF-8
Name=Link to ubuntu - Is there anybody using Keil MDK on Linux through wine? - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/57307738/is-there-anybody-using-keil-mdk-on-linux-through-wine/57313990#57313990
Icon=text-html
Name[en_US]=Link to ubuntu - Is there anybody using Keil MDK on Linux through wine - Stack Overflow [incl how to use `STM32_Programmer_CLI`, Segger J-Link w-`JLinkExe`, & Segger 'CommandFile's]
