[Desktop Entry]
Encoding=UTF-8
Name=Link to HelpOnMoinWikiSyntax - MoinMoin
Type=Link
URL=http://moinmo.in/HelpOnMoinWikiSyntax
Icon=text-html
Name[en_US]=Link to HelpOnMoinWikiSyntax - MoinMoin [MoinMoin--THE SYNTAX USED BY ROS WIKI]
