[Desktop Entry]
Encoding=UTF-8
Name=Link to ROS/Tutorials - ROS Wiki
Type=Link
URL=http://wiki.ros.org/ROS/Tutorials
Icon=text-html
Name[en_US]=Link to ROS/Tutorials - ROS Wiki%%%%%+++
