[Desktop Entry]
Encoding=UTF-8
Name=Link to ros cheat sheet - Google Search
Type=Link
URL=https://www.google.com/search?q=ros+cheat+sheet&oq=ros+chea&aqs=chrome.0.69i59j69i57j69i60l3.1626j0j4&sourceid=chrome&ie=UTF-8
Icon=text-html
Name[en_US]=Link to ros cheat sheet - Google Search%%%%% [EXCELLENT SEARCH RESULTS!]
