[Desktop Entry]
Encoding=UTF-8
Name=Link to ROSCheatsheet.pdf
Type=Link
URL=https://w3.cs.jmu.edu/spragunr/CS354_S19/handouts/ROSCheatsheet.pdf
Icon=application-pdf
Name[en_US]=Link to ROSCheatsheet.pdf%%%%%+++ [EXCELLENT CHEAT SHEET!]
