[Desktop Entry]
Encoding=UTF-8
Name=Link to rosbag/Tutorials/reading msgs from a bag file - ROS Wiki
Type=Link
URL=http://wiki.ros.org/rosbag/Tutorials/reading%20msgs%20from%20a%20bag%20file
Icon=text-html
