[Desktop Entry]
Encoding=UTF-8
Name=Link to .desktop - How can I create launchers on my desktop? - Ask Ubuntu
Type=Link
URL=https://askubuntu.com/questions/64222/how-can-i-create-launchers-on-my-desktop/1014261#1014261
Icon=text-html
Name[en_US]=Link to .desktop - How can I create launchers on my desktop? - Ask Ubuntu%%%%%+
