[Desktop Entry]
Encoding=UTF-8
Name=Link to dotfiles/tmux-session at d2af5900fce38238d1202aa43e7332b20add6205 · mislav/dotfiles
Type=Link
URL=https://github.com/mislav/dotfiles/blob/d2af5900fce38238d1202aa43e7332b20add6205/bin/tmux-session
Icon=text-html
