[Desktop Entry]
Encoding=UTF-8
Name=Link to Restore tmux session after reboot - Super User
Type=Link
URL=https://superuser.com/questions/440015/restore-tmux-session-after-reboot/615716#615716
Icon=text-html
Name[en_US]=Link to Restore tmux session after reboot - Super User%%%%%
