[Desktop Entry]
Encoding=UTF-8
Name=Link to 18.6 — The virtual table – Learn C++
Type=Link
URL=https://www.learncpp.com/cpp-tutorial/the-virtual-table/
Icon=text-html
