[Desktop Entry]
Encoding=UTF-8
Name=Link to NoMachine - How to set up key based authentication with NX protocol
Type=Link
URL=https://www.nomachine.com/AR02L00785
Icon=text-html
Name[en_US]=Link to NoMachine - How to set up key based authentication with NX protocol%%%%%+
