[Desktop Entry]
Encoding=UTF-8
Name=Link to nomachine enable key connections - Google Search
Type=Link
URL=https://www.google.com/search?q=nomachine+enable+key+connections&oq=nomachine+enable+key+connections&aqs=chrome..69i57.10710j0j9&sourceid=chrome&ie=UTF-8
Icon=text-html
Name[en_US]=Link to nomachine enable key connections - Google Search%%%%%
