[Desktop Entry]
Encoding=UTF-8
Name=Link to How a Kalman filter works, in pictures | Bzarg
Type=Link
URL=http://www.bzarg.com/p/how-a-kalman-filter-works-in-pictures/
Icon=text-html
Name[en_US]=0--Link to How a Kalman filter works, in pictures | Bzarg%%%%%++
