[Desktop Entry]
Encoding=UTF-8
Name=Link to User Datagram Protocol - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/User_Datagram_Protocol
Icon=text-html
Name[en_US]=Link to User Datagram Protocol - Wikipedia (UDP)
