[Desktop Entry]
Encoding=UTF-8
Name=Link to whats a udp endpoint? - Google Search
Type=Link
URL=https://www.google.com/search?q=whats+a+udp+endpoint%3F&oq=whats+a+udp+endpoint%3F&aqs=chrome..69i57.4090j0j7&sourceid=chrome&ie=UTF-8
Icon=text-html
